

  <form method="POST">
    <label for="useremail">Email</label>
    <input name="useremail" id="useremail" required>

    <label for="username">Username</label>
    <input name="username" id="username" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>

    <label for="password2">Repeat Password</label>
    <input type="password" name="password2" id="password2" required>

    <input type="submit" value="Register">
  </form>
